 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Vars
$picSize: 230px;
$orgIconSize: ($picSize / 5) - 3;
$pageWidth: 1020px;

$cLink: #4183c4;
$cGray3: #333;
$cGray6: #666;
$cGray7: #777;
$cGray8: #888;
$cGray9: #999;
$cGrayC: #ccc;
$cGrayD: #ddd;

//Mix Ins
@mixin centerPage() {
  margin: 0 auto;
  width: 1020px;
  padding: 0 20px;
}

@mixin searchBox($width, $height) {
  width: $width;
  height: $height;
  padding: 7px 8px;
  border: 1px solid $cGrayC;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

// Buttons & Menu Down Icon
@mixin baseButton() {
  font-weight: 700;
  padding: 7px 12px;
  line-height: 24px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.std-button {
  @include baseButton;
}

.edit-button {
  @include baseButton;
  padding: 0 10px;
}

.make-new-button {
  @include baseButton;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: white;
}

.menu-down:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}


// Custom Styles
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
    &:focus {
    outline: 0;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #333;
  background: #fff;
  box-sizing: border-box;
}

ul { 
  margin: 0; padding: 0;
}

li { 
  list-style: none;
  }

a {
  text-decoration: none;
  color: #4183c4;
}

h3 { 
  font-size: 20px; margin-bottom: 13px;
}

p { 
  margin: 8 0;
}

small {
  font-size: 13px; 
  color: #888;
  }

.searchy-button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  vertical-align: middle;
  background-color: #eee;
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

span {
  .octicon {
    margin-right: 5px;
  }
}

header {
  height: 50px;
  background: #F5F5F5;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  nav {
   @include centerPage;
   overflow: hidden;
   
   li {
      float: left;
      margin: 0 9px;
      line-height: 50px;
      font-weight: 700;
      cursor: pointer;
    
      &:first-child {
        margin: 0 -5px 0 0;
      }
    
      &:last-child {
        margin-right: 0;
      }

      &:hover .nav-txt {
        color: #4183c4;
      }
    
      &:hover .logo {
        color: #4183c4;
      }
    }
    
    ul.explore-list {
      float: left;
      
      li {
        .search-bar {
          @include searchBox(358px, 26px);
          font-size: 12px;
          font-weight: 400;
        }

        &:first-child {
          margin-top: 5px;
        }

        a span{
          font-size: 28px;
          color: #333;
          &:hover {
            color: #4183c4;
          }
        }

        .nav-txt {
          font-size: 13px;
          color: #333;
          &:hover {
            color: #4183c4;
          }

        }
      }
    }
    div {
      float: right;
      ul.right-side {
        li {
          margin: 0 5px;
          a {
            color: #333;
            &:hover {
              color: #4183c4;
            }
          }
          img {
            width: 20px;
            border-radius: 3px;
            vertical-align: middle;
          }
          .user-name {
            margin: 0 5px;
          }
          a span {
            font-size: 18px;
            color: #333;
            &:hover {
              color: #4183c4;
            }
          }
          .octicon-plus:after {
            margin-left: 2px;
          }
          .octicon-inbox {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.container {
  @include centerPage;
  @include outer-container;
  max-width: $pageWidth;
}

aside {
  @include span-columns(3.05);
  > div, > ul {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
  }
  .account {
    img {
      width: $picSize;
      height: $picSize;
      margin-top: -15px;
      border-radius: 6px;
    }
    h1 {
      margin: 3px 0 2px;
      font-size: 26px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    div {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 300;
      color: #666;
    }
  }
  ul.contact {
    font-size: 16px;
    li span {
      width: 12px;
      text-align: center;
      margin: 5px 15px 5px 0;
      color: #ccc;
    }
  }
  ul.sidebar-stats li {
    float: left;
    width: ($picSize - 2) / 3;
    text-align: center;
    div:first-child {
      font-size: 28px;
      font-weight: 700;
    }
    small {
      font-size: 11px;
      color: #999;
    }
    small:hover {
      color: #4183c4;
    }
  }
  .organizations {
    border-bottom: none;
    h3 {
      font-size: 18px;
      margin: 10px 0;
    }
    ul li {
      float: left;
      margin-right: 3px;
      &:nth-child(5n) {
        margin-right: 0;
      }
      img {
        width: $orgIconSize;
        height: $orgIconSize;
        border-radius: 3px;
      }
    }
  }
}

article.content {
  @include span-columns(8.95);
  nav.navtabs-left {
    margin-bottom: 15px;
    ul {
      li {
        float: left;
        padding: 8px 12px 7px;
        font-size: 15px;
        line-height: 20px;
        color: #666;
        border: 1px solid transparent;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
      }
      .clicked {
        color: #333;
        border: 1px solid #ddd;
        border-bottom: 1px solid transparent;
        border-radius: 3px 3px 0 0;
      }
    }
    .navtabs-right {
      overflow: hidden;
      border-bottom: 1px solid #ddd;
      .edit-button {
        float: right;
        margin: 0 0 10px 2px;
      }

    }
  }
  .tab-search-bar {
    overflow: hidden;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    form {
      float: left;
      .repository-search {
        @include searchBox(260px, 34px)
      }
      input[type="submit"] {

      }
    }
    .make-new-button, ul, li {
      float: right;
      line-height: 18px;
      margin-left: 10px;
    }
    li {
      margin: 10px 5px;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
    .all-bold {
      font-weight: 700;
      a {
        color: black;
      }
    }
  }
  .list-repository {
    li {
      overflow: hidden;
      padding: 30px 0;
      border-bottom: 1px solid #ddd;
      .repo-info-forked {
        float: left;
        h3 {
          margin-top: 0;
        }
        .forked {
          color: #888;
          font-size: 12px;
          span.octicon {
            font-size: inherit;
            margin-right: 0;
          }
        }
      }
      .repo-info-sourced {
        float: left;
        h3 {
          margin-top: 0;
        }
      }
      .repo-stats {
        float: right;
        font-size: 13px;
        font-weight: 700;
        color: #888;
        
        span {
          margin-right: 7px;
        }
          span.octicon {
            margin: 2px;;
        }
      }
    }
  }
}

footer {
  @include centerPage;
  clear: both;
  overflow: hidden;
  margin-top: 40px;
  padding: 0 20px;
  font-size: 12px;
  
  nav {
    padding: 40px 0;
    border-top: 1px solid #ddd;
    
    ul.footer-left {
      float: left;
      width: 400px;
      
      li {
        float: left;
        
        &:first-child {
          color: #777;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }
    
    ul.footer-right {
      float: right;
      width: 400px;
      
      li {
        float: right;
      }
    }
    a:hover {
        text-decoration: underline;
      }
    
    li {
      margin: 0 5px;
      line-height: 30px;
    }
    
    .footer-icon {
      width: 50px;
      margin: 0 auto;
      
      a span {
        font-size: 24px;
        color: #ccc;
      }
    }
  }
}



// div {
//   display: block;
// }

// a {
//   color: #4183c4;
//   text-decoration: none;
// }

// h1, h2, h3, h4, h5, h6 {
//   margin-top: 15px;
//   margin-bottom: 15px;
//   line-height: 1.1;
// }

// h1 {
//   font-size: 30px;
// }

// h3 {
//   font-size: 16px;
//   display: block;
//   -webkit-margin-before: 1em;
//   -webkit-margin-after: 1em;
//   -webkit-margin-start: 0px;
//   -webkit-margin-end: 0px;
//   font-weight: bold;
// }

// ul {
//   padding: 0;
//   margin-top: 0;
//   margin-bottom: 0;
// }

// .column {
//   float: left;
//   padding-right: 10px;
//   padding-left: 10px;
// }

// .boxed-group {
//   position: relative;
//   border-radius: 3px;
//   margin-bottom: 30px;

//   h3 {
//     background-color: #f5f5f5;
//     margin: 0;
//     border-radius: 3px 3px 0 0;
//     border: 1px solid #d8d8d8;
//     border-bottom: 0;
//     padding: 9px 10px 10px;
//     font-size: 14px;
//     line-height: 17px;
//     display: block;
//   }
// }

// .boxed-group-action {
//   float: right;
//   margin: 6px 10px 0 0;
//   position: relative;
//   z-index: 2;

//   .octicon {
//     color: #999;
//     margin-top: 4px;
//   }
// }

// .boxed-group .flush .boxed-group-inner {
//   padding: 0;
// }

// .boxed-group-inner {
//   padding: 1px 10px;
//   background: #fff;
//   border: 1px solid #d8d8d8;
//   border-bottom-left-radius: 3px;
//   border-bottom-right-radius: 3px;
//   color: #666;
//   font-size: 13px;
// }

// .css-truncate {
//   .css-truncate-target {
//     display: inline-block;
//     max-width: 125px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     white-space: nowrap;
//     vertical-align: top;
//   }
// }

// .octicon {
//   font: normal normal 16px octicons;
//   line-height: 1;
//   display: inline-block;
//   text-decoration: none;
//   -webkit-font-smoothing: antialiased;
// }

// .one-half {
//   width: 50%;
//   .boxed-group {
//     margin-bottom: 20px;
//   }
// }

// .mini-repo-list {
//   list-style: none;

//   li:first-child {
//     .mini-repo-list-item{
//       border-top: 0;
//     }
//   }

//   li:last-child {
//     .mini-repo-list-item {
//       border-bottom-left-radius: 3px;
//       border-bottom-right-radius: 3px;
//       border-bottom-left-radius: 3px;
//     }
//   }
// }

// .mini-repo-list-item {
//   position: relative;
//   display: block;
//   padding: 6px 64px 6px 30px;
//   font-size: 14px;
//   border-top: 1px solid #e5e5e5;

//   .repo-icon {
//     float: left;
//     margin-top: 2px;
//     margin-left: -20px;
//     color: #666;
//   }

//   .repo-and-owner {
//     max-width: 220px;
//   }

//   .owner {
//     max-width: 110px;
//   }

//   .repo {
//     font-weight: bold;
//   }

//   .stars {
//     position: absolute;
//     top: 0;
//     right: 10px;
//     margin-top: 6px;
//     font-size: 12px;
//     color: #888;
//   }

//   .repo-description {
//     display: block;
//     max-width: 100%;
//     font-size: 12px;
//     color: #777;
//     line-height: 21px;
//   }
// }

// .right {
//   float: right;
// }

// html {
//   display: block;
// }

// body {
//   min-width: 1020px;
//   color: #333;
//   background-color: #fff;
//   font-size: 13px;
// }

// header {
//   @include outer-container;
//   max-width: 100%;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   min-width: 1000px;
//   background-color: #f5f5f5;
//   border-bottom: 1px solid #e5e5e5;
  
//   a {
//     text-decoration: none;
//      color: HSLA(0, 0%, 20%, 1);

//      &:hover {
//       color: HSLA(210, 53%, 51%, 1);
//      }
//   }
// }

// .left-header {
//   @include span-columns(6);
//   overflow: hidden;
//   // display: inline-block;

//   ul li {
//     display: inline-block;
//   }

//   .logo {
//     float: left;
//     margin-right: 10px;
//     margin-left: -2px;
//     // color: #333;
//     white-space: nowrap;
//   }
//   input {
//     position: relative;
//     width: 100%;
//     min-height: 28px;
//     padding: 4px 20px 4px 8px;
//     font-size: 12px;
//   }


// }

// .right-header {
//   @include span-columns(6);
//   overflow: hidden;
//   // display: inline-block;

//   li {
//     // margin-right: 16px;
//   }
//   ul li {
//     display: inline-block;

//   }

//   .handle {
//     font-size: 14px;
//     margin: 0;
//   }

//   a li.avatar-list {
//     margin: 0;
//   }
  

 

//   .avatar-img {
//     width: 20px;
//     height: 20px;
//     border-radius: 3px;
//   }

//   .list-right {
//     li {
//       margin-right: 16px;
//     }
//   }

 
// }

// .container {
//   @include outer-container;
//   max-width: 100%;
//   width: 980px;
//   margin-right: auto;
//   margin-left: auto;
//   margin-top: 20px;

//   :first-child {
//     margin-top: 20px;
//   }
// }
//  .columns {
//   float: left;
//   margin-right: -10px;
//   margin-left: -10px;
//  }

// aside {
//   @include span-columns(3);
//   float: left;
//   padding-right: 10px;
//   padding-left: 10px;
//   margin-left: -10px;
//   margin-right: -10px;
//   .sidebar-avatar {
//     position: relative;
//     display: block;
    
//     img {
//       height: 230px;
//       width: 230px;
//       border-radius: 6px;
//       display: inline-block;
//       overflow: hidden;
//       line-height: 1;
//       vertical-align: middle;
//     }
//   }
//   .sidebar-names {
//     margin-top: 5px;
//     line-height: 1;

//     .side-fullname {
//       display: block;
//       overflow: hidden;
//       width: 100%;
//       font-size: 26px;
//       line-height: 30px;
//       text-overflow: ellipsis;
//     }

//     .side-username {
//       display: block;
//       overflow: hidden;
//       width: 100%;
//       font-size: 20px;
//       font-style: normal;
//       font-weight: 300;
//       line-height: 24px;
//       color: #666;
//       text-overflow: ellipsis;
//     }
//   }
//   .side-details {
//     list-style: none;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     border-top: 1px solid #eee;

//     .side-detail {
//       width: 100%;
//       padding: 2px 0 2px 24px;
//       overflow-x: hidden;
//       white-space: nowrap;
//       font-size: 14px;
//       text-overflow: ellipsis;

//       .octicon {
//         float: left;
//         width: 16px;
//         text-align: center;
//         margin-left: -24px;
//         color: #ccc;
//       }
//     }
//   }

//   .sidebar-stats {
//     margin-bottom: 10px;
//     padding-top: 15px;
//     padding-bottom: 15px;
//     text-align: center;
//     border-top: 1px solid #eee;
//     border-bottom: 1px solid #eee;

//     .sidebar-stat {
//       float: left;
//       width: 33.333%;
//       font-size: 11px;
//       text-transform: capitalize;

//       .sidebar-stat-count {
//         display: block;
//         font-size: 28px;
//         font-weight: bold;
//         line-height: 1;
//       }
//       .text-muted {
//         color: #999;
//       }
//     }
//   }
// }

// article {
//   @include span-columns(9);
//   float: left;
//   padding-right: 10px;
//   padding-left: 10px;
//   margin-left: -10px;
//   margin-right: -10px;

//   .tabnav {
//     position: relative;
//     margin: 0 0 15px;
//     border-bottom: 1px solid #ddd;

//     .tabnav-right {
//       position: relative;
//       float: right;

//       .pencil-button {
//         position: relative;
//         display: inline-block;
//         vertical-align: top;
//         padding: 0 10px;
//         line-height: 24px;
//         // display: inline-block;
//         // padding: 7px 12px;
//         font-size: 13px;
//         font-weight: bold;
//         color: #333;
//         text-shadow: 0 1px 0 rgba(255,255,255,0.9);
//         white-space: nowrap;
//         // vertical-align: middle;
//         cursor: pointer;
//         background-color: #eee;
//         // background-image: -webkit-linear-gradient(#fcfcfc, #eee);
//         background-image: linear-gradient(#fcfcfc, #eee);
//         background-repeat: repeat-x;
//         border: 1px solid #d5d5d5;
//         border-radius: 3px;
//         -webkit-user-select: none;
//         -moz-user-select: none;
//         -ms-user-select: none;
//         // user-select: none;
//         -webkit-appearance: none;
       

//         .octicon {
//           vertical-align: -1px;
//         }
//       }
//     }

//     .tabnav-tabs {
//       display: inline-block;

//       .tabnav-tab {
//         display: inline-block;
//         padding: 8px 12px 7px;
//         font-size: 14px;
//         line-height: 20px;
//         color: #666;
//         text-decoration: none;
//         border: 1px solid transparent;
//         border-bottom: 0;

//         .tabnav-tabs.selected {
//           color: #333;
//           background-color: #fff;
//           border-color: #ddd;
//           border-radius: 3px 3px 0 0;
//       }
//       }

//       li {
//         display: inline-block;
//         margin-bottom: -1px;
//       }

//       .selected {
//         color: #333;
//         background-color: #fff;
//         border-color: #ddd;
//         border-radius: 3px 3px 0 0;
//       }
//     }

//   }

//   .tab-content {
//     position: relative;

//     .contributions-tab {
//       margin-top: 20px;

//       .popular-repos {
//         float: left;
//         padding-right: 10px;
//         padding-left: 10px;
//         margin-left: -10px;
//         margin-right: -10px;

//         .mini-repo-list-item .stars {
//           margin-top: 16px;
//         }
//       }
//     }
//   }
// }

// .site-footer {
//   position: relative;
//   margin-top: 40px;
//   padding-top: 40px;
//   padding-bottom: 40px;
//   font-size: 12px;
//   line-height: 1.5;
//   color: #777;
//   border-top: 1px solid #eee;

//   .octicon-mark-github {
//     position: absolute;
//     top: 38px;
//     left: 50%;
//     height: 24px;
//     width: 24px;
//     margin-left: -12px;
//     font-size: 24px;
//     color: #ccc;
//   }
// }
// .mega-octicon {
//   font: normal normal 32px octicons;
//   line-height: 1;
//   display: inline-block;
//   text-decoration: none;
//   -webkit-font-smoothing: antialiased;
// }

// .site-footer-links {
//   margin: 0;
//   list-style: none;

//   li {
//     display: inline-block;
//     line-height: 16px;
//   }
// }
